body {
    background-color: #ecf1ff;
}

a.card-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card-custom {
    width: 18rem;
}

.card-custom:hover {
    background-color: #dce2ff;
}
